ref.json
{
  "Comment": "Create a new data subscription",
  "StartAt": "Grant Location",
  "States": {
    "Grant Location": {
      "Type": "Task",
      "Next": "Grant Database",
      "Parameters": {
        "Permissions": [
          "DATA_LOCATION_ACCESS"
        ],
        "Principal": {
          "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
        },
        "Resource": {
          "DataLocation": {
            "ResourceArn.$": "States.Format('arn:aws:s3:::mytiki-athena-results-sandbox-mike/cleanroom/{}', $.database)"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:lakeformation:grantPermissions",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch all",
          "Next": "Format Error",
          "ResultPath": "$.Error"
        }
      ]
    },
    "Grant Database": {
      "Type": "Task",
      "Next": "Grant Table",
      "Parameters": {
        "Permissions": [
          "DESCRIBE",
          "CREATE_TABLE"
        ],
        "Principal": {
          "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
        },
        "Resource": {
          "Database": {
            "Name.$": "$.database"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:lakeformation:grantPermissions",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch all",
          "Next": "Fallback Revoke",
          "ResultPath": "$.Error"
        }
      ]
    },
    "Grant Table": {
      "Type": "Task",
      "Next": "Athena CTAS",
      "Parameters": {
        "Permissions": [
          "DESCRIBE",
          "SELECT"
        ],
        "Principal": {
          "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
        },
        "Resource": {
          "Table": {
            "DatabaseName.$": "$.database",
            "TableWildcard": {}
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:lakeformation:grantPermissions",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch all",
          "Next": "Fallback Revoke",
          "ResultPath": "$.Error"
        }
      ]
    },
    "Fallback Revoke": {
      "Type": "Task",
      "Parameters": {
        "Entries": [
          {
            "Id.$": "States.UUID()",
            "Permissions": [
              "DATA_LOCATION_ACCESS"
            ],
            "Principal": {
              "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
            },
            "Resource": {
              "DataLocation": {
                "ResourceArn.$": "States.Format('arn:aws:s3:::mytiki-athena-results-sandbox-mike/cleanroom/{}', $.database)"
              }
            }
          },
          {
            "Id.$": "States.UUID()",
            "Permissions": [
              "DESCRIBE",
              "CREATE_TABLE"
            ],
            "Principal": {
              "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
            },
            "Resource": {
              "Database": {
                "Name.$": "$.database"
              }
            }
          },
          {
            "Id.$": "States.UUID()",
            "Permissions": [
              "DESCRIBE",
              "SELECT"
            ],
            "Principal": {
              "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
            },
            "Resource": {
              "Table": {
                "DatabaseName.$": "$.database",
                "TableWildcard": {}
              }
            }
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:lakeformation:batchRevokePermissions",
      "ResultPath": null,
      "Next": "Format Error"
    },
    "Athena CTAS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString.$": "States.Format('CREATE TABLE {}.{} WITH ( table_type = \\'ICEBERG\\', is_external = false, format = \\'PARQUET\\', location = \\'s3://mytiki-athena-results-sandbox-mike/cleanroom/{}/{}/\\') AS ({})', $.database, $.table, $.database, $.table, $.query)",
        "WorkGroup": "primary"
      },
      "Next": "Athena Count",
      "ResultPath": "$.Create",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch all",
          "ResultPath": "$.Error",
          "Next": "Fallback Revoke"
        }
      ]
    },
    "Format Error": {
      "Type": "Pass",
      "Next": "Send Error",
      "Parameters": {
        "requestId.$": "$.requestId",
        "error": {
          "message.$": "$.Error.Error",
          "cause.$": "$.Error.Cause"
        }
      }
    },
    "Send Error": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "https://account.mytiki.com/api/latest/ocean/error",
        "Method": "POST",
        "Authentication": {
          "ConnectionArn": "arn:aws:events:us-east-2:767397793707:connection/core-account-sf/53ee0d8b-4941-4a00-9dae-8a0cd78cc54a"
        },
        "RequestBody": {
          "requestId.$": "$.requestId",
          "error.$": "$.error"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "ResultPath": null,
      "End": true
    },
    "Athena Count": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString.$": "States.Format('SELECT count(*) FROM {}.{}', $.database, $.table)",
        "WorkGroup": "primary"
      },
      "Next": "Athena Result",
      "ResultPath": "$.Count",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch all",
          "Next": "Athena Drop",
          "ResultPath": "$.Error"
        }
      ]
    },
    "Athena Drop": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString.$": "States.Format('DROP TABLE {}.{}', $.database, $.table)",
        "WorkGroup": "primary"
      },
      "Next": "Fallback Revoke",
      "ResultPath": "$.Create",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch all",
          "ResultPath": "$.Error",
          "Next": "Fallback Revoke"
        }
      ]
    },
    "Athena Result": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:getQueryResults",
      "Parameters": {
        "MaxResults": 10,
        "QueryExecutionId.$": "$.Count.QueryExecution.QueryExecutionId"
      },
      "ResultPath": "$.Result",
      "Next": "Revoke Permissions",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "catch all",
          "Next": "Fallback Revoke",
          "ResultPath": "$.Error"
        }
      ]
    },
    "Revoke Permissions": {
      "Type": "Task",
      "Parameters": {
        "Entries": [
          {
            "Id.$": "States.UUID()",
            "Permissions": [
              "DATA_LOCATION_ACCESS"
            ],
            "Principal": {
              "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
            },
            "Resource": {
              "DataLocation": {
                "ResourceArn.$": "States.Format('arn:aws:s3:::mytiki-athena-results-sandbox-mike/cleanroom/{}', $.database)"
              }
            }
          },
          {
            "Id.$": "States.UUID()",
            "Permissions": [
              "DESCRIBE",
              "CREATE_TABLE"
            ],
            "Principal": {
              "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
            },
            "Resource": {
              "Database": {
                "Name.$": "$.database"
              }
            }
          },
          {
            "Id.$": "States.UUID()",
            "Permissions": [
              "DESCRIBE",
              "SELECT"
            ],
            "Principal": {
              "DataLakePrincipalIdentifier": "arn:aws:iam::767397793707:role/service-role/StepFunctions-purchase-test-role-jgcj9128l"
            },
            "Resource": {
              "Table": {
                "DatabaseName.$": "$.database",
                "TableWildcard": {}
              }
            }
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:lakeformation:batchRevokePermissions",
      "ResultPath": null,
      "Next": "Format Response"
    },
    "Format Response": {
      "Type": "Pass",
      "Parameters": {
        "requestId.$": "$.requestId",
        "count.$": "$.Result.ResultSet.Rows[1].Data[0].VarCharValue"
      },
      "Next": "Send Result"
    },
    "Send Result": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "https://account.mytiki.com/api/latest/ocean/purchase",
        "Method": "POST",
        "Authentication": {
          "ConnectionArn": "arn:aws:events:us-east-2:767397793707:connection/core-account-sf/53ee0d8b-4941-4a00-9dae-8a0cd78cc54a"
        },
        "RequestBody": {
          "requestId.$": "$.requestId",
          "count.$": "$.count"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "ResultPath": null,
      "End": true
    }
  }
}
